/* ====
 --------- (2.01) reset styles start ---------
 ==== */

@font-face {
  font-family: 'SBAggroB';
  font-weight: 700;
  font-display: swap;
  src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_2108@1.1/SBAggroB.woff') format('woff');
}

@font-face {
  font-family: 'SBAggroM';
  font-weight: 500;
  font-display: swap;
  src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_2108@1.1/SBAggroM.woff') format('woff');
}

@font-face {
  font-family: 'SBAggroL';
  font-weight: 300;
  font-display: swap;
  src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_2108@1.1/SBAggroL.woff') format('woff');
}

@font-face {
  font-family: 'NexonLv2Gothic';
  font-weight: 300;
  font-display: swap;
  src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_20-04@2.1/NexonLv2GothicLight.woff') format('woff');
}

@font-face {
  font-family: 'NexonLv2Gothic';
  font-weight: 400;
  font-display: swap;
  src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_20-04@2.1/NexonLv2Gothic.woff') format('woff');
}

@font-face {
  font-family: 'NexonLv2Gothic';
  font-weight: 700;
  font-display: swap;
  src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_20-04@2.1/NexonLv2GothicBold.woff') format('woff');
}

@font-face {
  font-family: 'HS-Regular';
  font-weight: normal;
  font-display: swap;
  src: url('https://gcore.jsdelivr.net/gh/projectnoonnu/noonfonts_2201-2@1.0/HS-Regular.woff') format('woff');
}

@font-face {
  font-family: 'DNFBitBitv2';
  font-weight: 400;
  font-display: swap;
  src: url('//cdn.df.nexon.com/img/common/font/DNFBitBitv2.otf') format('opentype');
}

* {
  margin: 0px;
  padding: 0px;
  box-sizing: border-box;

  &::-moz-selection {
    color: #ffffff;
    background-color: #1770c8;
  }

  &::selection {
    color: #ffffff;
    background-color: #1770c8;
  }
}

html {
  scroll-behavior: smooth;
}

body {
  font-family: var(--nexon);
  font-size: 16px;
  font-weight: 400;
  letter-spacing: -0.03em;
  color: var(--template-color);
  background-color: var(--template-bg);
  overflow-x: clip;
  min-width: 100vw;
  min-height: 100vh;

  &::-webkit-scrollbar {
    width: 5px;
  }

  &::-webkit-scrollbar-track {
    background-color: #cae6f7;
    border-radius: 5px;
  }

  &::-webkit-scrollbar-button,
  &::-webkit-scrollbar-thumb {
    background-color: var(--primary-color);
    border-radius: 5px;
  }
}

.body-active {
  height: 100vh;
  overflow: clip;

  .active-progress {
    visibility: hidden;
    pointer-events: none;
  }
}

.nftg-app {
  overflow-x: clip;
}

button {
  background-color: transparent;
  border: 0px;
  outline: 0px;
}

a,
button {
  text-decoration: none;
  display: inline-flex;
  align-items: center;
  gap: 8px;
  outline: 0px;
  border: 0px;
  transition: var(--transition);
  cursor: pointer;
  color: var(--template-color);

  i,
  span {
    font-size: inherit;
    line-height: inherit;
    color: inherit;
  }

  &:hover {
    text-decoration: none;
    border: 0px;
    outline: 0px;
  }
  &:focus {
    box-shadow: none;
    outline: 0px;
  }
}

ul,
ol {
  list-style-type: none;
  list-style-position: inside;
  margin: 0px;
  padding: 0px;
}

hr,
blockquote,
textarea {
  margin: 0px;
  opacity: 1;
}

input,
textarea {
  border: 0px;
  outline: 0px;

  &:focus {
    box-shadow: none;
  }
}

input {
  &::-webkit-outer-spin-button,
  &::-webkit-inner-spin-button {
    -webkit-appearance: none;
    margin: 0px;
  }
}

input[type="number"] {
  -moz-appearance: textfield;
  appearance: textfield;
}

input[type="checkbox"] {
  width: initial;
  height: initial;
}

textarea {
  min-height: 150px;
  resize: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0px;
}

iframe {
  border: 0px;
  width: 100%;
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
  padding: 0px;
  margin: 0px;
  color: var(--template-color);
  font-family: var(--nexon);
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: var(--sbaggro);
}

/* ==== 
 --------- (2.01) reset styles end ---------
 ==== */
