/* ====
 --------- (2.02) typography styles start ---------
 ==== */

// font import
@font-face {
  font-family: 'GabiaDun';
  src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/2510-1@1.0/GabiaDunn-Regular.woff2') format('woff2');
  font-weight: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Jeongmeokbawi';
  src: url('https://gcore.jsdelivr.net/gh/projectnoonnu/noonfonts_2001@1.1/SangSangRockOTF.woff') format('woff');
  font-weight: normal;
  font-display: swap;
}

@font-face {
  font-family: 'SinchonRhapsody';
  src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/2410-2@1.0/SinchonRhapsodyOTF.woff2') format('woff2');
  font-weight: normal;
  font-display: swap;
}

@font-face {
  font-family: 'DNFForgedBlade';
  src: url('https://cdn.df.nexon.com/img/common/font/DNFForgedBlade-Light.otf') format('opentype');
  font-weight: 300;
  font-display: swap;
}

@font-face {
  font-family: 'DNFForgedBlade';
  src: url('https://cdn.df.nexon.com/img/common/font/DNFForgedBlade-Medium.otf') format('opentype');
  font-weight: 500;
  font-display: swap;
}

@font-face {
  font-family: 'DNFForgedBlade';
  src: url('https://cdn.df.nexon.com/img/common/font/DNFForgedBlade-Bold.otf') format('opentype');
  font-weight: 700;
  font-display: swap;
}

@font-face {
  font-family: 'GhanaChocolate';
  src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_20-04@1.0/ghanachoco.woff') format('woff');
  font-weight: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Miwon';
  src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_miwon@1.0/Miwon.woff2') format('woff2');
  font-weight: normal;
  font-display: swap;
}

// paragraph styles
p,
th,
td,
li,
input,
textarea,
select,
label,
blockquote,
span {
  font-size: 16px;
  line-height: 26px;
  font-weight: 400;
  letter-spacing: -0.03em;
  color: var(--template-color);
}

.text-xxl {
  font-size: 24px;
  line-height: 34px;
}

.text-xl {
  font-size: 20px;
  line-height: 30px;
}

.text-lg {
  font-size: 18px;
  line-height: 28px;
}

.text-md {
  font-size: 16px;
  line-height: 26px;
}

.text-sm {
  font-size: 14px;
  line-height: 20px;
}

.text-xs {
  font-size: 12px;
  line-height: 20px;
}

// link styles
a,
button {
  font-size: 16px;
  line-height: 24px;
}

// heading styles
h1 {
  font-size: 72px;
  line-height: 82px;
}

h2 {
  font-size: 56px;
  line-height: 66px;
}

h3 {
  font-size: 40px;
  line-height: 50px;
}

h4 {
  font-size: 32px;
  line-height: 42px;
}

h5 {
  font-size: 24px;
  line-height: 34px;
}

h6 {
  font-size: 20px;
  line-height: 30px;
}

.title-xxl {
  font-size: 120px;
  line-height: 130px;
}

.title-xl {
  font-size: 80px;
  line-height: 90px;
}

.title-lg {
  font-size: 72px;
  line-height: 82px;
}

.title-md {
  font-size: 64px;
  line-height: 74px;
}

.title-sm {
  font-size: 56px;
  line-height: 66px;
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
  a,
  span {
    font-family: inherit;
    font-size: inherit;
    line-height: inherit;
    font-weight: inherit;
    color: inherit;
  }
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: 'Miwon', 'GhanaChocolate', 'GabiaDun', var(--sbaggro);
  letter-spacing: 0.05em;
}

/* ==== 
 --------- (2.02) typography styles end ---------
 ==== */
